body {
	background-image: linear-gradient(135deg, var(--background-gradient));
}

main {
	padding: 2.3rem;
	width: 80%;
	height: 91%;
	overflow-y: auto;
	justify-content: flex-start;
}

.title {
	text-align: center;
	font-size: 5rem;

	border-radius: 4px;
}

.sub-title {
	text-align: center;
	font-size: 2rem;
}

.endpoint-list {
	margin-top: 1rem;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: baseline;
}

.endpoint-entry {
	background-color: var(--dark-light-color);
	width: 100%;
	border-radius: 7px;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.endpoint-info {
	width: 40%;
}
.endpoint-example {
	width: 60%;
}

.endpoint-info > * {
	margin-bottom: .75rem;
}

.endpoint-info > h2 {
	font-size: 2rem;
}

.tags {
	display: flex;
	gap: .2rem;
	flex-wrap: wrap;
}

.tag-entry {
	background-color: var(--dark-color);
	border-radius: 2px;
	padding: .35rem;
}

.endpoint-example {
	background-color: var(--dark-color);
	border-radius: 7px;
	padding: 2rem;
	display: flex;
	align-items: center;
}

.endpoint-example > pre {
	width: 40%;
	overflow-x: auto;
}

.endpoint-example > ul {
	width: 60%;
}

.home-link {
	position: absolute;
	right: 0;
	bottom: 1rem;
	padding: 1rem;
	background-color: var(--dark-color);
	border-radius: 8px 0px 0px 8px;
	text-decoration: none;
	color: var(--light-color);
}

@media (max-width: 768px) {
	.title {
		background-color: var(--background-color);
		background-image: linear-gradient(315deg, var(--background-gradient));
		margin-bottom: 1rem;
	}
}

@media (max-width: 1775px) {
	.endpoint-entry {
		flex-direction: column;
		align-items: center;
		height: fit-content;
	}
	.endpoint-info,
	.endpoint-example {
		width: 75%;
	}
}

@media (max-width: 1450px) {
	.endpoint-info,
	.endpoint-example {
		width: 100%;
	}
}

@media (max-width: 1111px) {
	main {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
	.home-link {
		background-color: var(--background-color);
		background-image: linear-gradient(315deg, var(--background-gradient));
	}
}

@media (max-width: 768px) {
	.endpoint-example {
		flex-direction: column;
		gap: 1rem;
	}
	.endpoint-example > * {
		width: 100% !important;
	}
}
