body {
	background-image: linear-gradient(135deg, var(--background-gradient));
}

main {
	padding: 3rem;
}

.title {
	text-align: center;
	font-size: 5rem;

	border-radius: 4px;
}

.sub-title {
	text-align: center;
	font-size: 2rem;
}

#login-form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#login-form > * {
	font-size: 1.4rem;
}

#password-input {
	color: var(--light-color);
	background-color: transparent;
	border-bottom: 2px solid var(--light-color);
}

#password-input:focus {
	border: 2px solid var(--light-color);
}

.login-buttons {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.login-buttons > * {
	background-color: var(--light-color);
	color: var(--dark-color);

	padding: .7rem 1.3rem;
	border-radius: 2px;

	text-decoration: none;
	font-size: 1.5rem;

	transition: color 300ms, background-color 300ms, outline 300ms;
}

.login-buttons > *:hover {
	cursor: pointer;
	background-color: var(--dark-color);
	color: var(--light-color);
	outline: 1px solid var(--light-color);
}

@media (max-width: 768px) {
	.title {
		background-color: var(--background-color);
		background-image: linear-gradient(315deg, var(--background-gradient));
		margin-bottom: 1rem;
	}
}