main h2 {
	font-size: clamp(1.2rem, 5vw, 1.5rem);
}

#login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}

#login-form > * {
	font-size: clamp(1rem, 4vw, 1.2rem);
	padding: .8rem;
}

#password-input {
	border: 2px solid rgb(var(--color-gray-400));
	border-radius: 4px;
	background-color: rgb(var(--color-gray-500));
}

#password-input:focus {
	outline: 3px solid rgb(var(--color-gray-300));
}

main p {
	font-size: 1.1rem;
}