*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

:root {
	--color-light: 255, 255, 255;
	--color-dark: 26, 26, 26;
	--color-accent: 255, 60, 172;
	--color-gradient: rgb(255, 60, 172) 0%, rgb(120, 75, 160) 50%, rgb(43, 134, 197) 100%;
	--color-gray-300: 169, 169, 169;
	--color-gray-400: 211, 211, 211;
	--color-gray-500: 245, 245, 245;
	--color-error: 219, 84, 97;
	
	--nav-height: 4rem;
}

#main-screen {
	height: 100vh;
	color: rgb(var(--color-dark));
	background-color: rgb(var(--color-light));

	display: flex;
	flex-direction: column;
}

nav {
	height: var(--nav-height);
	background-color: rgb(var(--color-light));
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1.5rem;
	padding: 1rem;
}

nav a {
	text-decoration: none;
	color: rgb(var(--color-dark));
}

header {
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(135deg, var(--color-gradient));
	box-shadow: inset 0 4px 8px 0 rgb(0 0 0 / 20%), inset 0 6px 20px 0 rgb(0 0 0 / 19%);
	overflow-x: auto;
}

h1 {
	font-size: clamp(5rem, 20vw, 12rem);
	color: rgb(var(--color-light));
	animation: fade-in 1s ease-in-out;
	text-align: center;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

main {
	text-align: center;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.create-button,
.create-link {
	border: 2px solid rgb(var(--color-gray-400));
	border-radius: 4px;
	background-image: linear-gradient(225deg, var(--color-gradient));
	color: rgb(var(--color-light));
	padding: .8rem;
	text-decoration: none;
}

.hidden {
	display: none;
}

.error {
	color: rgb(var(--color-error));
	font-size: .8rem;
}