body {
	background-image: linear-gradient(45deg, var(--background-gradient));
}

main {
	padding: 2rem;
	width: 60%;
	height: 65%;
	overflow: auto;
}

.title {
	text-align: center;
	font-size: 3rem;
}

.sub-title {
	text-align: center;
	font-size: 1.1rem;
}

.hidden {
	display: none !important;
}

.expanded {
	flex-direction: column !important;
	text-align: center !important;
	height: min-content !important;
	width: 100% !important;
	gap: 1rem !important;
}

.expanded > * {
	font-size: 2rem !important;
	width: 80% !important;
}

.create-form {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	gap: 1rem;
	width: 80%;
}

.create-form > div {
	display: flex;
	text-align: right;
	gap: 2rem;
	height: 3rem;
}

.create-form > div > * {
	margin: auto;
	width: 45%;
	font-size: 1.4rem;
}

.create-form > div > input {
	color: var(--light-color);
	background-color: transparent;
	border-bottom: 2px solid var(--light-color);
}

.create-form > div > input:focus {
	border: 2px solid var(--light-color);
}

.exp-error {
	color: crimson;
	font-size: 1rem;
}

.create-form > h2 {
	margin-top: 1.5rem;
	text-align: center;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.create-buttons {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.create-buttons > * {
	background-color: var(--light-color);
	color: var(--dark-color);

	padding: .7rem 1.3rem;
	border-radius: 2px;

	text-decoration: none;
	font-size: 1.5rem;

	transition: color 300ms, background-color 300ms, outline 300ms;
}

.create-buttons > *:hover {
	cursor: pointer;
	background-color: var(--dark-color);
	color: var(--light-color);
	outline: 1px solid var(--light-color);
}

@media (max-width: 1200px) {
	main {
		width: 65%;
		height: 75%;
	}
	.create-form.advanced {
		width: 95%;
	}
	.expanded > * {
		font-size: 2rem !important;
		width: 100% !important;
	}
}

@media (max-width: 950px) {
	main {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
}

@media (max-width: 600px) {
	.create-buttons {
		gap: 0.3rem;
	}
	.create-form.advanced {
		width: 100%;
	}
	.expanded > * {
		font-size: 2rem !important;
		width: 100% !important;
	}
}