.action {
	border: 2px solid rgb(var(--color-gray-400));
	border-radius: 4px;
	background-image: linear-gradient(225deg, var(--color-gradient));
	color: rgb(var(--color-light));
	padding: .8rem;
	text-decoration: none;
	font-size: clamp(1rem, 4vw, 1.2rem);
}

.action-bar {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

h1 {
	font-size: 5vw;
}