<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lind</title>
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/api.css">
</head>
<body>
	<main>
		<div class="title-container">
			<h1 class="title">Lind</h1>
			<div role="doc-subtitle" class="sub-title">Info about the api of Lind</div>
		</div>
		<section>
			Lind has an API that you can make use of. It has the same functionality as the web-ui. All api-endpoints start with <code>/api</code>.
		</section>
		<section>
			The API has a rate limiter. A consumer of the API is allowed unlimited requests per minute to all endpoints except the following: POST /api/create. For that/those endpoint(s), there is a rate limit of {{rate_limit}} requests per minute.
		</section>
		<section class="endpoint-list">
			<div class="endpoint-entry">
				<div class="endpoint-info">
					<h2><code>POST /api/create</code></h2>
					<div class="tags">
						<div class="tag-entry">Rate Limit</div>
					</div>
					<p>Use this endpoint to create new Linds. Supply the required information in JSON format in the body of the request. Give optional keys if you want to set them, otherwise leave them out of the body. As the response, you'll get the id of the newly created Lind.</p>
				</div>
				<div class="endpoint-example">
<pre>
Body:
{
    'url': 'https://example.com',
    'expiration_time': '2022-12-31T23:59',
    'limit_usage': 100,
    'access_password': 'IWantAccess',
    'admin_password': 'IAmTheBoss'
}
</pre>
					<ul>
						<li><strong>url (required)</strong>: the url to shorten</li>
						<li><strong>expiration_time</strong>: the time after which the Lind expires in ISO-8601 format</li>
						<li><strong>limit_usage</strong>: the amount of times a Lind can be used before it expires</li>
						<li><strong>access_password</strong>: the password to access the Lind</li>
						<li><strong>admin_password</strong>: the password to enable and allow managing the Lind</li>
					</ul>
				</div>
			</div>
			<div class="endpoint-entry">
				<div class="endpoint-info">
					<h2><code>GET /api/&lt;lind_id&gt;</code></h2>
					<div class="tags">
						<div class="tag-entry">Manage Only</div>
					</div>
					<p>Use this endpoint to get info about a Lind. Replace <code>&lt;lind_id&gt;</code> with the id of the Lind in the url. You need to supply the admin password as an argument in the url. As the response, you'll get info about the Lind. The access_password and admin_password are left out as they are hashed.</p>
				</div>
				<div class="endpoint-example">
<pre>
Url parameters:
    admin_password=abc
</pre>
					<ul>
						<li><strong>admin_password (required)</strong>: the admin password to manage the Lind</li>
					</ul>
				</div>
			</div>
			<div class="endpoint-entry">
				<div class="endpoint-info">
					<h2><code>PUT /api/&lt;lind_id&gt;</code></h2>
					<div class="tags">
						<div class="tag-entry">Manage Only</div>
					</div>
					<p>Use this endpoint to edit info about a Lind. Replace <code>&lt;lind_id&gt;</code> with the id of the Lind in the url. You need to supply the admin password as an argument in the url. Supply the new values in JSON format in the body of the request. Give the keys and values of the fields that you want to edit, otherwise leave them out of the body. As the response, you'll get the new info about the Lind. The access_password and admin_password are not shown as they are hashed, but are open to be changed by supplying a new value in the body.</p>
				</div>
				<div class="endpoint-example">
<pre>
Url parameters:
    admin_password=abc

Body:
{
    'url': 'https://example.com',
    'expiration_time': '2022-12-31T23:59',
    'limit_usage': 100,
    'access_password': 'IWantAccess',
    'admin_password': 'IAmTheBoss'
}
</pre>
					<ul>
						<li><strong>admin_password (required)</strong>: the admin password to manage the Lind</li>
						<br><br>
						<li><strong>url</strong>: the url to shorten</li>
						<li><strong>expiration_time</strong>: the time after which the Lind expires in ISO-8601 format</li>
						<li><strong>limit_usage</strong>: the amount of times a Lind can be used before it expires</li>
						<li><strong>access_password</strong>: the password to access the Lind</li>
						<li><strong>admin_password</strong>: the password to enable and allow managing the Lind</li>
					</ul>
				</div>
			</div>
		</section>
		<a href="/" class="home-link">Home page</a>
	</main>
</body>
</html>