<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create - Lind</title>
	
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/create.css">
	<script src="/static/js/create.js" defer></script>
	
</head>
<body>
	<div id="main-screen">
		<nav>
			<a href="/use">Use Lind</a>
			<a href="/create">Create</a>
			<a href="/manage">Manage</a>
		</nav>
		<header>
			<h1>Create Lind</h1>
		</header>
		<main>
			<h2>Create a Lind right now!</h2>
			<form id="create-form">
				<table>
					<tr>
						<td class="create-label">
							<label for="url-input">URL</label>
						</td>
						<td class="create-input">
							<input type="url" id="url-input" required>
						</td>
					</tr>
					<tr>
						<td class="create-label">
							<label for="expiration-time-input">Expiration Time</label>
							<p class="error hidden" id="expiration-error">*Expiration Time has to be in the future</p>
						</td>
						<td class="create-input">
							<input type="datetime-local" id="expiration-time-input">
						</td>
					</tr>
					<tr>
						<td class="create-label">
							<label for="limit-usage-input">Limit Usage</label>
						</td>
						<td class="create-input">
							<input type="number" id="limit-usage-input" min="1">
						</td>
					</tr>
					<tr>
						<td class="create-label">
							<label for="access-password-input">Access Password</label>
						</td>
						<td class="create-input">
							<input type="password" id="access-password-input" autocomplete="new-password">
						</td>
					</tr>
					<tr>
						<td class="create-label">
							<label for="admin-password-input">Admin Password</label>
						</td>
						<td class="create-input">
							<input type="password" id="admin-password-input" autocomplete="new-password">
						</td>
					</tr>
				</table>
				<button id="create-button" class="create-button" type="submit">Create</button>
			</form>
		</main>
	</div>
</body>
</html>