<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lind</title>
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/enter_password.css">
</head>
<body>
	<main>
		<div class="title-container">
			<h1 class="title">Lind</h1>
			<div role="doc-subtitle" class="sub-title">Enter admin password to manage this lind</div>
		</div>
		<form method="post" id="login-form">
			<label for="password-input">Password</label>
			<input type="password" name="admin_password" id="password-input" required>
		</form>
		<div class="login-buttons">
			<a href="/create">Create a lind</a>
			<button type="submit" form="login-form">Manage</button>
		</div>
	</main>
</body>
</html>