<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lind</title>
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<main>
		<div class="title-container">
			<h1 class="title">Lind</h1>
			<div role="doc-subtitle" class="sub-title">The simple url shortener</div>
		</div>
		<a href="/create" class="create-button">Create a lind</a>
	</main>
	<a href="/api" class="api-link">API Docs</a>
</body>
</html>