<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lind not found - Lind</title>
	
	<link rel="stylesheet" href="/static/css/general.css">
	
</head>
<body>
	<div id="main-screen">
		<nav>
			<a href="/use">Use Lind</a>
			<a href="/create">Create</a>
			<a href="/manage">Manage</a>
		</nav>
		<header>
			<h1>No Lind here :(</h1>
		</header>
		<main>
			<h2>404 - Not Found</h2>
			<p>Maybe create a Lind?</p>
			<a href="/create" class="create-link">Create Lind</a>
		</main>
	</div>
</body>
</html>