<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lind</title>
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/show.css">
</head>
<body>
	<main>
		<div class="title-container">
			<h1 class="title">Lind</h1>
			<div role="doc-subtitle" class="sub-title">Your link is ready!</div>
		</div>
		<p>Tip: If you added an admin password when creating this Lind, you can manage it by appending <code>/manage</code> to the end</p>
		<p class="link-box">{{link}}</p>
		<a href="/create" class="create-button">Create a lind</a>
	</main>
</body>
</html>