<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Use Lind - Lind</title>
	
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/use_lind.css">
	<script src="/static/js/use_lind.js" defer></script>
	
</head>
<body>
	<div id="main-screen">
		<nav>
			<a href="/use">Use Lind</a>
			<a href="/create">Create</a>
			<a href="/manage">Manage</a>
		</nav>
		<header>
			<h1>Lind</h1>
		</header>
		<main>
			<h2>Enter the Lind ID and get going!</h2>
			<p class="error hidden" id="error-message"></p>
			<form id="go-form">
				<input type="text" id="id-input" autofocus>
				<button type="submit" class="go-button">Go</button>
			</form>
			<p>Or create your own Lind</p>
			<a href="/" class="create-link">Create Lind</a>
		</main>
	</div>
</body>
</html>